/* =============
    classes
============= */

#classesTest {
    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". classes-cards .";
        // background-color: rgb(226, 175, 5);
    }

    @include xxl {
        grid-template-columns: auto 1200px auto;
    }

    >div {
        display: grid;
        gap: 16px;
        border: 1px solid red;

        @include md {
            grid-area: classes-cards;
            grid-template-columns: 50% auto;
        }

        >aside {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". classes .";
            background-color: rgb(51, 193, 201);
           
    
            >div {
    
                grid-area: classes;
                display: grid;
                grid-template-columns: 70% auto;
    
            }
        }
    }
}