/* =============
    Footer
============= */

#footer{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";
    background-color: #5E6D49;

    @include xxl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: footer ;

        @include md{
            display: grid;
            grid-template-columns: 50% auto ;
            grid-template-areas: 
            "f1 f2"
            "f1 f3";
        }

        @include lg{
            grid-template-columns: repeat(3, 1r) ;
            grid-template-areas: 
            "f1 f2 f3";
        }
        #f1{
            @include md{
                grid-area: f1;
            }
        }
        #f2{
            @include md{
                grid-area: f2;
            }
        }
        #f3{
            @include md{
                grid-area: f3;
            }
        }
        h1{
            margin-bottom: 16px;
        }
        h2{
            margin-bottom: 16px;
        }
        form{
            margin-top: 32px;
            display: flex;

            @include md{
                margin-left: 24px;
            }

            @include lg{
                margin-top: 32px;
            }
        }
        input{
            background-color: rgb(250, 250, 250);
            border: 1px solid rgb(19, 18, 18);
            color: black;
           padding: 16px 32px;
           }

        button{
            background-color: rgb(134, 188, 157);
            color: black;
            border: none;
           padding: 16px 24px;

           
        }
        
    }

}
