/* =============
    Header
============= */
header{
    #nav{
     background-color:#5E6D49;
     display: grid;
     grid-template-columns: 16px auto 16px;
     grid-template-areas: ". header .";
     
     nav{
        margin-left: auto;
        display: flex;
       }
 
     h1{
         margin-bottom: 16px;
     }
     >div{
         grid-area: header ;
    }

     
    }
    
 #searchbar{
     display: grid;
     grid-template-columns: 16px auto 16px;
     grid-template-areas: ". searchbar .";
     svg{
         background-color: #4bad12;
     }
    
 
     >div{
         grid-area: searchbar ;
     }
     input{
        background-color: rgb(250, 250, 250);
        border-bottom: 1px solid rgb(19, 18, 18);
        color: black;
       padding: 16px 32px;
       }

    button{
        background-color: rgb(134, 188, 157);
        color: black;
        border: none;
       padding: 16px 24px;
       margin-left: auto;
       margin-top: 16px;
 }

 }
}