/* =============
    Header
============= */
header{
    #nav{
     background-color:#5E6D49;
     display: grid;
     grid-template-columns: 16px auto 16px;
     grid-template-areas: ". header .";
 
     h1{
         margin-bottom: 16px;
     }
     >div{
         grid-area: header ;
    }
 
     
    }
    
 #searchbar{
     display: grid;
     grid-template-columns: 16px auto 16px;
     grid-template-areas: ". searchbar .";
     svg{
         background-color: #4bad12;
     }
    
 
     >div{
         grid-area: searchbar ;
     }
     
 }
 input{
    display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
    }
    button{
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
 }
 
 
 .search-button:hover {
   background-color: #45a049;
 }

     }
 